*, *:after, *:before
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box
  margin 0
  padding 0

::selection
  color black
  background #eaeaea

::-moz-selection
  color black
  background #eaeaea

html
  font-size 16px
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%

body
  margin 0
  text-rendering optimizeLegibility

  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -moz-font-smoothing antialiased
  font-smoothing antialiased

  -webkit-font-feature-settings "kern"
  -moz-font-feature-settings "kern"
  font-feature-settings "kern"

  font-variant-ligatures common-ligatures
  font-kerning normal
  font-weight normal

h1, h2, h3, h4, p, blockquote, figure, ol, ul
  margin 0
  padding 0

li
  display list-item

strong
  font-weight bold

a, button
  color inherit
  transition .3s
  cursor pointer

a
  text-decoration none

button
  overflow visible
  border 0
  font inherit
  -webkit-font-smoothing inherit
  -webkit-appearance none
  letter-spacing inherit
  background none
  cursor pointer

::-moz-focus-inner
  padding 0
  border 0

:focus
  outline 0

textarea
  resize none

img
  max-width 100%
  height auto
  border 0


::-webkit-input-placeholder {
color #eaeaea
}

::-moz-placeholder {
color #eaeaea
}

:-ms-input-placeholder {
color #eaeaea
}

:-moz-placeholder {
color #eaeaea
}
