head
  title TIL
  
  link(rel="stylesheet" href="/index.css" type="text/css")
  link(href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i|Inconsolata" rel="stylesheet")
    
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

body
  
  label.about(for="about") &Aopf;
  
  section.how-to-turn-leek-into-ash
    p.smallcaps April 17, 2017
    h1 How to turn leek into ash
    .center
      img(src="/static/images/52116_fire-making_sm.gif" width="140px")
    p Make two cuts in a 
      span.en leek
        span.nl prei
      | , same as you normally would — one at the root, and one where
      | the stalk turns from light green to dark. Save the white part
      | for another time, discard the root.
    p Rinse any traces of grit from the dark green trimmings, and dry
      |  with a towel. 
    p Place them on a baking tray in a single layer. Roast in the oven 
      i (with the fan off)
      |  until charred and black. 
    p Let cool, grind into dust.

  section.how-to-make-mustard
    p.smallcaps April 16, 2017
    h1 How to make mustard
    p.quote “Grind seeds and add liquid.” 
      sup 1
    p Mustard seeds contain a chemical that reacts with cold liquid — heat
      |  damages this reaction. Break the seeds first to release it: coarsely
      |  grind 6 tablespoons whole 
      span.en mustard seeds
        span.nl mosterdzaden
      i  (a mixture of yellow, brown, black). 
    p Add ½ cup mustard powder, 2 teaspoons salt, and 1 teaspoon turmeric
      i  (for colour, optional).
      |  Stir in ½ cup of flat beer, cider, wine or fruit juice. 
    .inset
      img(src="/static/images/51222_bl_mustard_sm.gif" width="98px")
      i fig.
      span black mustard
    p Let sit for up to 10 minutes — more minutes = more mellow. Then add 3 tablespoons vinegar. 
    p If using any herbs, spices or honey, add them. Wait at least 12 hours before using. Mustard will last in the refrigerator for
      i  at least
      |  12 months, but due to its antibacterial properties, it will dry out before it goes bad.
    
    .src 
      p 
        sup 1
        a(href="http://honest-food.net/how-to-make-mustard-2/") HOW TO MAKE MUSTARD by Hank Shaw
  
  section.how-to-cook-broad-beans
    p.smallcaps April 15, 2017
    h1 How to cook broad beans
    .center
      img(src="/static/images/81767_broad_bean_s_sm.gif" width="120px")
      i fig. 
      span a single bean
    p Separate the broad beans (also called fava beans or 
      span.en garden beans
        span.nl tuinbonen
      | ) from their pods. If they are older, larger beans, they need to
      |  be blanched to remove their waxy outer skins. 
    p Boil a pot of water, submerge beans for 30 seconds, then remove to
      | an ice water bath. Slip the skins off with your fingers.
    p Transfer to a fresh pot of water and simmer for 15-20 minutes, or
      | just until tender.
    p Dress the beans with olive oil, salt and a fresh lemon juice.
        
  section.how-to-grow-peas
    p.smallcaps April 14, 2017
    h1 How to grow peas
    .inset.right
      img(src="/static/images/51225_pea_legumes_sm.gif" width="100px")
      i fig.
      span peas in pod
    p Plant early in the spring, ideally a month before last frost,
      |  for 
      span.en peas
        span.nl erwten
      |  are best grown at temperatures below 21°C. A light
      |  blanket of snow will not bother pea plants.
    p Peas will appreciate a sprinkling of wood ashes to the soil
      |  before planting. Peas do not need to be fertilized. Plant
      |  seeds 1 inch deep and 2 inches apart.
      sup 1
    p Peas 
      i (like other legumes)
      |  will fix nitrogen in the soil,
      |  making it a perfect home for nitrogen-loving plants like
      |  lettuce, tomatoes, and cucumbers.
    p Pick peas in the morning after the dew has dried, when they
      |  are the crispest. Keep your peas well-picked to encourage
      |  more pods to grow.
    
    .src 
      p 
        sup 1
        a(href="http://www.almanac.com/plant/peas") The Old Farmer's Almanac
    

  input#about(type="checkbox")
  
  .about-wrapper
    label.close(for="about")
    
    .about-content
      p.smallcaps Today I Learned
      p A collection of the things I've learned each day — topics such as: food,
        |  history, design, code, gardening, languages, etc.
      p.byline &mdash; 
        a(href="https://twitter.com/aprileelcich") Aprile Elcich
      
      p.smallcaps Credits
      p
        i 
          a(href="https://www.myfonts.com/fonts/bitstream/romana/bold/") Romana Bold
          | , 
          a(href="https://fonts.google.com/specimen/Crimson+Text") Crimson Text
          | , 
          a(href="https://fonts.google.com/specimen/Inconsolata") Inconsolata
          | .
      p
        i
          a(href="http://etc.usf.edu/clipart/") Clipart courtesy FCIT
      
      a.github(href="https://github.com/aprileelcich")
        img(src="/static/images/github.svg" width="30px")
